.recipeCardMain {
    display: grid;
    align-items: center;
    justify-content: center;
}

.recipeCard {
    height: 230px;
    width: 230px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.recipeCard img {
    height: 100px;
}