.categoriesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2B808F
}

.categories-container a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.categoriesButton {
  display: flex;
  justify-content: center;
 

}

.categoriesButton button{
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(102, 217, 211);
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: .5rem;
  margin-bottom: .5rem;
  
  
}

.grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}


.grid-item {
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  height: 400px;

}

.grid-item:hover {
  transform: scale(1.02);
}