/* .average-rating-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.average-rating-container {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 1rem;
  color: black;
} */

.star-shape {
  width: 100%;
  height: 100%;
  background-color: yellow;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%,
    68% 57%, 79% 91%, 50% 70%,
    21% 91%, 32% 57%, 2% 35%, 39% 35%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}